/* .spinner::after {
    content: '';
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
  }
  
  .spinner.smooth::after {
    border-top: 4px solid rgb(239, 0, 0);
    border-left: 4px solid rgb(255, 0, 0);
    border-right: 4px solid rgba(255, 255, 255, 0.0);
    animation: spinner .6s linear infinite;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  } */
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    /* margin: 270px; */
    border-radius: 50%;
    border: 6px solid rgb(157, 249, 111);
    border-color: rgb(157, 249, 111) transparent rgb(157, 249, 111) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    margin-left: 423px;
    margin-top: 200px;
    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
    